---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=gss%20no%20next%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/zJ11Tzpyf4wN8rpskoIjgtrmzKI"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - gss no next site:usa.gov",
            "totalResults": "210",
            "searchTerms": "gss no next site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - gss no next site:usa.gov",
            "totalResults": "210",
            "searchTerms": "gss no next site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.227249,
          "formattedSearchTime": "0.23",
          "totalResults": "210",
          "formattedTotalResults": "210"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Frequently Asked Questions (FAQs) - NAICS - US Census Bureau",
           "htmlTitle": "Frequently Asked Questions (FAQs) - NAICS - US Census Bureau",
           "link": "http://1.usa.gov/NQ1PYC",
           "displayLink": "1.usa.gov",
           "snippet": "Feb 1, 2016 ... NAICS is an industry classification system, not a product classification system, \nand therefore neither intended nor well suited for this purpose.",
           "htmlSnippet": "Feb 1, 2016 \u003cb\u003e...\u003c/b\u003e NAICS is an industry classification system, \u003cb\u003enot\u003c/b\u003e a product classification system, \u003cbr\u003e\nand therefore neither intended nor well suited for this purpose.",
           "cacheId": "T8U6WxlGGiYJ",
           "formattedUrl": "1.usa.gov/NQ1PYC",
           "htmlFormattedUrl": "1.usa.gov/NQ1PYC",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "72",
              "height": "77",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSdDGvcku5b7NzbxGNXXtxZRSwkR-1yF48aodY6SyUYwdWwEzP9SQW_"
             }
            ],
            "metatags": [
             {
              "dc.title": "North American Industry Classification System (NAICS) Frequently Asked Questions (FAQs)",
              "dc.description": "Frequently Asked Questions (FAQs) - North American Industry Classification System (NAICS) - US Census Bureau",
              "dc.creator": "Special Projects Staff, Service Sector Statistics Division",
              "dc.date.created": "2012-05-15",
              "dc.date.reviewed": "2010-10-02",
              "dc.language": "EN-US",
              "author": "SSSD - naics@census.gov"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.census.gov/eos/www/naics/img/NAICS_logo.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Accra, Ghana - Embassy of the United States: Home",
           "htmlTitle": "Accra, Ghana - Embassy of the United States: Home",
           "link": "http://1.usa.gov/1f37yvc",
           "displayLink": "1.usa.gov",
           "snippet": "I really can think of no better way to start this week than with such a gathering of \nreally remarkable people, all of whom are determined to make a difference in a ...",
           "htmlSnippet": "I really can think of \u003cb\u003eno\u003c/b\u003e better way to start this week than with such a gathering of \u003cbr\u003e\nreally remarkable people, all of whom are determined to make a difference in a&nbsp;...",
           "cacheId": "f_qWUNHwPZ4J",
           "formattedUrl": "1.usa.gov/1f37yvc",
           "htmlFormattedUrl": "1.usa.gov/1f37yvc",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "347",
              "height": "145",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRBRqlnUp4Bgygv6zeDlRz_Luu2pLjkg93GbURjNkbPkn5z8-wVTTeAqBI"
             }
            ],
            "metatags": [
             {
              "dc_title": "Home",
              "dc_date": "2016-01-27",
              "dc_creator": "U.S. Embassy",
              "dc_identifier": "http://usembassy.state.gov/index.html",
              "dc_source": "http://usembassy.state.gov/index.html",
              "template_format": "embassy",
              "template_version": "2.0",
              "template_language": "English",
              "dc_language": "en"
             }
            ],
            "cse_image": [
             {
              "src": "http://photos.state.gov/libraries/ghana/231771/Photos/IMG_5645-2.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Facts for Features: Older Americans Month: May 2011 - Facts for ...",
           "htmlTitle": "Facts for Features: Older Americans Month: May 2011 - Facts for ...",
           "link": "http://1.usa.go[...]
