---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=healthy%20snack%20-site:www.usa.gov%20AND%20-site:kids.usa.gov%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/qwGlQSqiUZNpO_LfVWI5SoOsfFs"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - healthy snack -site:www.usa.gov AND -site:kids.usa.gov site:usa.gov",
            "totalResults": "365",
            "searchTerms": "healthy snack -site:www.usa.gov AND -site:kids.usa.gov site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - healthy snack -site:www.usa.gov AND -site:kids.usa.gov site:usa.gov",
            "totalResults": "365",
            "searchTerms": "healthy snack -site:www.usa.gov AND -site:kids.usa.gov site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.31126,
          "formattedSearchTime": "0.31",
          "totalResults": "365",
          "formattedTotalResults": "365"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Labeling & Nutrition \u003e Your Two Favorite Things: Snacks and ...",
           "htmlTitle": "Labeling &amp; Nutrition &gt; Your Two Favorite Things: \u003cb\u003eSnacks\u003c/b\u003e and ...",
           "link": "http://go.usa.gov/cGnBG",
           "displayLink": "go.usa.gov",
           "snippet": "May 22, 2016 ... Play two brand spankin' new games that test your knowledge about making \nhealthy snack choices: Label Lingo – Answer challenge questions ...",
           "htmlSnippet": "May 22, 2016 \u003cb\u003e...\u003c/b\u003e Play two brand spankin&#39; new games that test your knowledge about making \u003cbr\u003e\n\u003cb\u003ehealthy snack\u003c/b\u003e choices: Label Lingo – Answer challenge questions&nbsp;...",
           "cacheId": "Ia7hun6B0FUJ",
           "formattedUrl": "go.usa.gov/cGnBG",
           "htmlFormattedUrl": "go.usa.gov/cGnBG",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "240",
              "height": "144",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ0X8fEGohHDxjxJfukqtW_-EH86ZE_B9EXTtpZwyF1_c1E6BpDZAbrM3k"
             }
            ],
            "metatags": [
             {
              "id": "UCM490204",
              "msvalidate.01": "0AE61A039CC5BDCCF556A11C18A61D44",
              "dc.title": "Labeling & Nutrition - Your Two Favorite Things: Snacks and Games!  Visit the New Snack Shack Today",
              "dc.type": "WebContent",
              "dc.description": "In the virtual world of Whyville, young Ã¢â‚¬Å“citizensÃ¢â‚¬ï¿½ can practice label reading in the online community and develop skills for making healthy snack choices in the real world. Visit today, and play the new Label Lingo and Snack Sort games in the Snack Shack!",
              "dc.language": "en",
              "posted": "2016-03-15",
              "index_date": "2016-05-22",
              "dc.publisher": "Center for Food Safety and Applied Nutrition",
              "dc.audience": "Consumers, Educators",
              "dc.creator": "Center for Food Safety and Applied Nutrition",
              "archive": "No",
              "search_topic": "Food",
              "viewport": "width=device-width, initial-scale=1.0",
              "apple-mobile-web-app-title": "FDA",
              "apple-mobile-web-app-capable": "yes"
             }
            ],
            "cse_image": [
             {
              "src": "http://www.fda.gov/ucm/groups/fdagov-public/documents/image/ucm489562.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Recalls, Market Withdrawals, & Safety Alerts \u003e Kind Healthy Snacks ...",
           "htmlTitle": "Recalls, Market Withdrawals, &amp; Safety Alerts &gt; Kind \u003cb\u003eHealthy Snacks\u003c/b\u003e ...",
           "link": "http://1.usa.gov/SRsIE2",[...]
