---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=nutrition%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/XXAVvFToj4V0i37FOTDqxdgpVvU"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - nutrition site:usa.gov",
            "totalResults": "3390",
            "searchTerms": "nutrition site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - nutrition site:usa.gov",
            "totalResults": "3390",
            "searchTerms": "nutrition site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.290567,
          "formattedSearchTime": "0.29",
          "totalResults": "3390",
          "formattedTotalResults": "3,390"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Press Announcements \u003e FDA modernizes Nutrition Facts label for ...",
           "htmlTitle": "Press Announcements &gt; FDA modernizes \u003cb\u003eNutrition\u003c/b\u003e Facts label for ...",
           "link": "http://1.usa.gov/1ODAIin",
           "displayLink": "1.usa.gov",
           "snippet": "May 20, 2016 ... Today, the U.S. Food and Drug Administration took a major step in making sure \nconsumers have updated nutritional information for most ...",
           "htmlSnippet": "May 20, 2016 \u003cb\u003e...\u003c/b\u003e Today, the U.S. Food and Drug Administration took a major step in making sure \u003cbr\u003e\nconsumers have updated \u003cb\u003enutritional\u003c/b\u003e information for most&nbsp;...",
           "cacheId": "-1xidExKS_AJ",
           "formattedUrl": "1.usa.gov/1ODAIin",
           "htmlFormattedUrl": "1.usa.gov/1ODAIin",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "256",
              "height": "144",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl8b_Q5mFMAt3ZS0bwgUsh26BhypZL_eWrmBceVLDidfrAlDyMbpg2FQBM"
             }
            ],
            "metatags": [
             {
              "id": "UCM502182",
              "msvalidate.01": "0AE61A039CC5BDCCF556A11C18A61D44",
              "dc.title": "Press Announcements - FDA modernizes Nutrition Facts label for packaged foods",
              "dc.type": "WebContent",
              "dc.description": "FDA modernizes Nutrition Facts label for packaged foods",
              "dc.language": "en",
              "posted": "2016-05-20",
              "index_date": "2016-05-20",
              "dc.publisher": "Office of the Commissioner",
              "dc.audience": "Press",
              "dc.creator": "Office of the Commissioner",
              "archive": "No",
              "search_topic": "Public Information & Education|Food",
              "viewport": "width=device-width, initial-scale=1.0",
              "apple-mobile-web-app-title": "FDA",
              "apple-mobile-web-app-capable": "yes"
             }
            ],
            "cse_image": [
             {
              "src": "https://i.ytimg.com/vi/OANhS-MZoAk/mqdefault.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Labeling & Nutrition \u003e Changes to the Nutrition Facts Label",
           "htmlTitle": "Labeling &amp; \u003cb\u003eNutrition\u003c/b\u003e &gt; Changes to the \u003cb\u003eNutrition\u003c/b\u003e Facts Label",
           "link": "http://1.usa.gov/22i8MbF",
           "displa[...]
