---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=mango%20smoothie%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/tdRdGEAocxVWc1ZsKkb4U5_D9uc"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - mango smoothie site:usa.gov",
            "totalResults": "9",
            "searchTerms": "mango smoothie site:usa.gov",
            "count": 9,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.240419,
          "formattedSearchTime": "0.24",
          "totalResults": "9",
          "formattedTotalResults": "9"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Smoothie blend",
           "htmlTitle": "\u003cb\u003eSmoothie\u003c/b\u003e blend",
           "link": "http://1.usa.gov/1CEVKYD",
           "displayLink": "1.usa.gov",
           "snippet": "Jan 18, 2015 ... Inventure Foods, Inc. of Phoenix, Arizona, has issued a precautionary recall of its \nRADER FARMS Fresh Start Smoothie Blend, Fresh Start ...",
           "htmlSnippet": "Jan 18, 2015 \u003cb\u003e...\u003c/b\u003e Inventure Foods, Inc. of Phoenix, Arizona, has issued a precautionary recall of its \u003cbr\u003e\nRADER FARMS Fresh Start \u003cb\u003eSmoothie\u003c/b\u003e Blend, Fresh Start&nbsp;...",
           "cacheId": "nFO0b6rTNPsJ",
           "formattedUrl": "1.usa.gov/1CEVKYD",
           "htmlFormattedUrl": "1.usa.gov/1CEVKYD",
           "pagemap": {
            "metatags": [
             {
              "id": "UCM430735",
              "msvalidate.01": "0AE61A039CC5BDCCF556A11C18A61D44",
              "dc.title": "Recalls, Market Withdrawals, & Safety Alerts - Inventure Foods, Inc. Issues Voluntary Recall Of Its Rader Farms Fresh Start Smoothie Blend, Sunrise Refresh Fusion, And Daily Power Fusion Due To Possible Health Risk",
              "dc.type": "WebContent",
              "dc.description": "Inventure Foods, Inc. of Phoenix, Arizona, has issued a precautionary recall of its RADER FARMS Fresh Start Smoothie Blend, Fresh Start Sunrise Refresh Fusion, and Fresh Start Daily Power Fusion because of a potential to be contaminated with Listeria monocytogenes, an organism which can cause serious and sometimes fatal infections in young children, frail or elderly people, and others with weakened immune systems.",
              "dc.language": "en",
              "posted": "2015-01-18",
              "index_date": "2016-05-27",
              "dc.publisher": "Office of Regulatory Affairs,Office of the Commissioner",
              "dc.creator": "Office of Regulatory Affairs,Office of the Commissioner",
              "archive": "Yes",
              "search_topic": "Food|Public Information & Education",
              "brand_name": "Rader Farms",
              "product_description": "Smoothie blend",
              "recall_desc": "Listeria monocytogenes",
              "company_name": "Inventure Foods, Inc.",
              "recall_photo": "UCM430738",
              "recall_category": "Food",
              "dc.subject": "Major Food Product Recall, Food & Beverages, Food Safety",
              "viewport": "width=device-width, initial-scale=1.0",
              "apple-mobile-web-app-title": "FDA",
              "apple-mobile-web-app-capable": "yes"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Recalls, Market Withdrawals, & Safety Alerts \u003e Boba Direct Issues ...",
           "htmlTitle": "Recalls, Market Withdrawals, &amp; Safety Alerts &gt; Boba Direct Issues ...",
           "link": "http://1.usa.gov/UptdBh",
           "displayLink": "1.usa.gov",
           "snippet": "Jan 9, 2013 ... ... Honeydew, Lavender, Lychee, Mango, Matcha Green Tea, M[...]
