---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=casa%20blanca%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/vJLctFR1Vohqllnre6gs5jsCaaA"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - casa blanca site:usa.gov",
            "totalResults": "910",
            "searchTerms": "casa blanca site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - casa blanca site:usa.gov",
            "totalResults": "910",
            "searchTerms": "casa blanca site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.425705,
          "formattedSearchTime": "0.43",
          "totalResults": "910",
          "formattedTotalResults": "910"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The Casablanca Conference, 1943",
           "htmlTitle": "The \u003cb\u003eCasablanca\u003c/b\u003e Conference, 1943",
           "link": "http://1.usa.gov/14WBruY",
           "displayLink": "1.usa.gov",
           "snippet": "The Casablanca Conference was a meeting between U.S. President Franklin D. \nRoosevelt and British Prime Minister Winston Churchill in the city of Casablanca\n ...",
           "htmlSnippet": "The \u003cb\u003eCasablanca\u003c/b\u003e Conference was a meeting between U.S. President Franklin D. \u003cbr\u003e\nRoosevelt and British Prime Minister Winston Churchill in the city of \u003cb\u003eCasablanca\u003c/b\u003e\u003cbr\u003e\n&nbsp;...",
           "cacheId": "BpDQgZr_IEIJ",
           "formattedUrl": "1.usa.gov/14WBruY",
           "htmlFormattedUrl": "1.usa.gov/14WBruY",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "160",
              "height": "160",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTWALNYXpLdjRBis6wIxDBz642uzJZukzfnf1tYE-Dxm_Js2RfvXfBjhuo"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0"
             }
            ],
            "cse_image": [
             {
              "src": "https://s3.amazonaws.com/static.history.state.gov/milestones/casablanca-conference.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Petition the White House on the Issues that Matter to You | We the ...",
           "htmlTitle": "Petition the White House on the Issues that Matter to You | We the ...",
           "link": "http://1.usa.gov/QN4iUe",
           "displayLink": "1.usa.gov",
           "snippet": "Create a Petition. Call on the White House to take action on the issue that matters \nto you. Gather Signatures. Share your petition with others, build a community ...",
           "htmlSnippet": "Create a Petition. Call on the White House to take action on the issue that matters \u003cbr\u003e\nto you. Gather Signatures. Share your petition with others, build a community&nbsp;...",
           "cacheId": "cBaFJnouDFUJ",
           "formattedUrl": "1.usa.gov/QN4iUe",
           "htmlFormattedUrl": "1.usa.gov/QN4iUe",
           "pagemap": {
            "metatags": [
             {
              "msapplication-config": "https://petitions.whitehouse.gov/profiles/petitions/themes/petitions_responsive/browserconfig.xml",
              "msapplication-square310x310logo": "https://petitions.whitehouse.gov/profiles/petitions/themes/petitions_responsive/images/favicons/mstile-310x310.png",
              "msapplication-wide310x150logo": "https://petitions.whitehouse.gov/profiles/petitions/themes/petitions_responsive/images/favicons/mstile-310x150.png",
              "msapplication-square150x150logo": "https://petitions.whitehouse.gov/profiles/petitions/themes/petitions_responsive/images/favicons/mstile-150x150.png",
              "msapplication-square70x70logo": "https://petitions.whitehouse.gov/profiles/petitions/themes/petitions_responsive/images/favicons/mstile-70x70.png",
              "application-name": "Petitions",
              "msapplication-tilecolor": "#ffffff",
              "og:image": "https://petitions.whitehouse.gov/profiles/petitions/themes/petitions_responsive/images/fb_share.jpg",
              "og:image:width": "1200",
              "og:image:height": "630",
              "viewport": "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
             }
            ],
            "cse_image": [
             {
              "src": "https://petitions.whitehouse.gov/profiles/petitions/themes/petitions_responsive/ima[...]
